*.exe
*.out
.vscode
Simulation/Compiled/*.exe
Simulation/Compiled/*.out
Simulation/Compilation_Strings/*.txt
Simulation/Compilation_Strings/*.bat
Simulation/Compilation_Strings/*.sh
Simulation/Logs/*.json
Simulation/Logs/*.txt
Ensembling_Aggregation/__pycache__/*.*
*.json
